.manageContent {
    margin-top: 220px;
}

.manageArray {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.manageHeader {
    position: absolute;
    font-size: 40px;
    top: 270px;
    width: 600px;
    background-color: var(--nav-background);
    border: 1px solid var(--nav-background);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

p {
    position: relative;
    width: 100%;
    color: var(--black-text);
}

.deleteButton {
    width: 100px;
}

.manageBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 110px;
    padding: 20px 0px 20px 0px;
    background-color: var(--nav-background);
    overflow-x: scroll;
    scrollbar-width: wide;
    scrollbar-color: var(--header-bar-blue) var(--nav-background);
    border: 1px solid var(--nav-background);
}

.propertyCard {
    min-width: 500px;
    margin: 0px 20px;
    background-color: var(--white-primary);
    border: 5px solid var(--header-bar-blue);
    border-radius: 20px;
}

.propertyImg {
    width: 300px;
    height: 300px;
    margin: 0px 20px;
    border: 1px solid var(--header-bar-blue);
    border-radius: 50px;
    margin-bottom: 20px;
}

.propertyInfo {
    height: 190px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    border: 2px solid var(--header-bar-blue);
    border-radius: 20px;
}

.propertyAdd {
    position: absolute;
    top: 250px;
    right: 50px;
    width: 200px;
    height: 50px;
    margin: 0px;
    background-color: var(--header-bar-blue);
}

.modalManage {
    display: none;
    position: fixed;
    z-index: 1000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modalManage-content {
    background-color: var(--white-primary);
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    text-align: left;
    color: var(--black-text);
    width: 60%;
}

.modalManageInformation {
    padding: 16px;
}

.closeManage {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.closeManage:hover, .closeManage:focus {
    color: #f44336;
    cursor: pointer;
}

button.plusSign {
    margin: 0px;
}

.modalImg {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.newPropertyImg {
    width: 40%;
    border-radius: 50%;
}